.weather__temp{
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: black;
  text-align: center;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.weather__condition{
font-size: 3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: black;
  text-align: center;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.weather__icon{
text-align: center;
}